*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(/Form/images/pexels-baskin-creative-studios-1766838.jpg) no-repeat;
}
.formwrapper{
    width: 420px;
    background: transparent;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px)
}
.formwrapper h1{
    font-size: 36px;
    text-align: center;
}
.formwrapper .inputbox{
    position: relative;
    width: 100%;
    height:50px;
    /* background: yellow; */
    margin: 30px 0px;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}
.inputbox input::placeholder{
    color: #fff;
}
/* .inputbox i{
    position: absolute;
    right: 20px;
    top: 30px;
    transform: translate(50%);
    font-size: 20px;
} */
.formwrapper .rememberforgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.rememberfogot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.rememberforgot a{
    color: #fff;
    text-decoration: none ;
}
.rememberforgot a:hover{
    text-decoration: underline;
}
.formwrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.formwrapper .registerlink{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
    padding-top: 20px;
}
.registerlink p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.registerlink p a:hover{
    text-decoration: underline;
}

.formwrapper h3{
    /* font-size: 36px; */
    text-align: center;
    margin: 20px 0px;
}

/* Signup form begins here */

.fb{
    color: white;
    text-decoration: none;
    background-color: #3b5998;
    padding: 10px 20px;
    border-top-left-radius: 60px;
}

.twt{
    color: white;
    text-decoration: none;
    background-color: #00acee;
    padding: 10px 20px;
    /* border-radius: 10px; */
}

.ggle{
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-top-right-radius: 60px;
}

.socialmedia{
    /* background-color: white; */
    margin: 20px 0px 40px;
    font-size: 15px;
    text-align: center;
}


.divider{
    display: flex;
    align-items: center;
}

.divider::before, .divider::after{
    content: "";
    padding: 1px;
    background-color: white;
    flex: 1;
    margin: 5px;
}

.or{
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}
.registerlink a{
    color: #FFFFFF;
}

.error {
    color: red;
  }
  
/* .passed, .failed{
      opacity: 0;
      display: none;
  } */
  
  .success-icon {
    color: green;
    position: absolute;
    top: 16px;
    right: 10px;
    opacity: 0;
  }
  
  .failure-icon {
    color: red;
    position: absolute;
    top: 16px;
    right: 10px;
    opacity: 0;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }
  
  
  /* label {
      display: block;
      margin-bottom: 5px;
    } */

